body {
    font-family: 'Roboto', sans-serif; /* Futuristic font */
    margin: 0;
    background-color: #0e1621; /* Dark blue background color */
    color: white;               /* White text color */
}

.tab {
    overflow: hidden;
    border: 1px solid #555;    /* Dark gray border color */
    background-color: #1c2a3a; /* Dark blue background color for tabs */
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 16px;
    color: white;               /* White text color for tabs */
    font-family: 'Roboto', sans-serif; /* Futuristic font */
    border-bottom: 4px solid transparent; /* Add transparent bottom border */
}

.tab button:hover {
    background-color: #2b3e53; /* Slightly lighter blue on hover */
}

.tab button.active {
    background-color: #007bff; /* Accent color for active tab */
    color: white;              /* White text color for active tab */
    border-bottom: 4px solid #007bff; /* Add colored bottom border for active tab */
}


.tabcontent {
    display: none;
    padding: 20px;
    border: 1px solid #555;    /* Dark gray border color for content */
    border-top: none;
    background: #1c2a3a;      /* Dark blue background color for content */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    margin-top: -1px;          /* Align with the bottom of the tabs */
}

.tabcontent h3 {
    font-size: 24px;
    color: white;               /* White text color for headings */
}

.tabcontent p {
    margin: 10px 0;
    font-size: 16px;
    color: white;               /* White text color */
}

.tabcontent a {
    color: white;              /* White text color for links */
    text-decoration: none;
    padding: 12px 16px;
    border: 1px solid white;   /* White border for links */
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Added scaling transition */
    display: block;
    width: 100%;
    box-sizing: border-box;
    background-color: #294057; /* Dark blue background color for links */
    text-align: left;
    margin-bottom: 10px;
}

.tabcontent a:hover, .tabcontent a:focus {
    background-color: #007bff; /* Accent color for background on hover/focus */
    border-color: #007bff;     /* Accent color for border on hover/focus */
    color: white;              /* White text color on hover/focus */
    text-decoration: none;
    transform: scale(1.05);    /* Scale up by 5% on hover */
}


.tabcontent a:active {
    transform: translateY(1px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header {
    background-color: black; /* Header background color */
    color: white; /* Text color */
    padding: 20px;
    display: flex; /* Use flexbox */
    align-items: center; /* Vertically center items */
    justify-content: center; /* Horizontally center items */
}

.logo {
    margin-right: 20px; /* Add some space between logo and slogan */
}

.logo img {
    max-width: 150px; /* Adjust the maximum width of the logo */
    height: auto; /* Maintain aspect ratio */
}

.slogan h1 {
    font-size: 24px; /* Adjust the font size of the slogan */
    margin: 10px 0;
}

.slogan p {
    font-size: 16px; /* Adjust the font size of the slogan */
    margin: 5px 0;
}

#loadMoreBtn1 {
    font-family: 'Roboto', sans-serif; /* Futuristic font */
    background-color: #294057; /* Dark blue background color for links */
    color: white;              /* White text color for links */
    border: 1px solid white;   /* White border for links */
    border-radius: 4px;
    padding: 12px 16px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Added scaling transition */
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 10px;
}

#loadMoreBtn1:hover, #loadMoreBtn1:focus {
    background-color: #007bff; /* Accent color for background on hover/focus */
    border-color: #007bff;     /* Accent color for border on hover/focus */
    color: white;              /* White text color on hover/focus */
    text-decoration: none;
    transform: scale(1.05);    /* Scale up by 5% on hover */
}

#loadMoreBtn1:active {
    transform: translateY(1px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#loadMoreBtn2 {
    font-family: 'Roboto', sans-serif; /* Futuristic font */
    background-color: #294057; /* Dark blue background color for links */
    color: white;              /* White text color for links */
    border: 1px solid white;   /* White border for links */
    border-radius: 4px;
    padding: 12px 16px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Added scaling transition */
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 10px;
}

#loadMoreBtn2:hover, #loadMoreBtn2:focus {
    background-color: #007bff; /* Accent color for background on hover/focus */
    border-color: #007bff;     /* Accent color for border on hover/focus */
    color: white;              /* White text color on hover/focus */
    text-decoration: none;
    transform: scale(1.05);    /* Scale up by 5% on hover */
}

#loadMoreBtn2:active {
    transform: translateY(1px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#loadMoreBtn3 {
    font-family: 'Roboto', sans-serif; /* Futuristic font */
    background-color: #294057; /* Dark blue background color for links */
    color: white;              /* White text color for links */
    border: 1px solid white;   /* White border for links */
    border-radius: 4px;
    padding: 12px 16px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Added scaling transition */
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 10px;
}

#loadMoreBtn3:hover, #loadMoreBtn3:focus {
    background-color: #007bff; /* Accent color for background on hover/focus */
    border-color: #007bff;     /* Accent color for border on hover/focus */
    color: white;              /* White text color on hover/focus */
    text-decoration: none;
    transform: scale(1.05);    /* Scale up by 5% on hover */
}

#loadMoreBtn3:active {
    transform: translateY(1px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#loadMoreBtn4 {
    font-family: 'Roboto', sans-serif; /* Futuristic font */
    background-color: #294057; /* Dark blue background color for links */
    color: white;              /* White text color for links */
    border: 1px solid white;   /* White border for links */
    border-radius: 4px;
    padding: 12px 16px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Added scaling transition */
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 10px;
}

#loadMoreBtn4:hover, #loadMoreBtn4:focus {
    background-color: #007bff; /* Accent color for background on hover/focus */
    border-color: #007bff;     /* Accent color for border on hover/focus */
    color: white;              /* White text color on hover/focus */
    text-decoration: none;
    transform: scale(1.05);    /* Scale up by 5% on hover */
}

#loadMoreBtn4:active {
    transform: translateY(1px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-box {
    position: relative;
    width: 100%;
    max-width: 400px; /* Adjust this width based on your layout needs */
    display: flex;
    justify-content: center; /* Centers the search box horizontally in the flex container */
    align-items: center; /* Ensures vertical alignment is centered */
    margin: auto; /* Centers the search box horizontally if it's within a larger container */
    margin: 10px auto;
}

#searchInput, #searchButton {
    height: 40px; /* Ensures both elements are of the same height */
}

#searchInput {
    flex-grow: 1;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-right: none; /* Removes right border to merge with button */
    border-radius: 4px 0 0 4px; /* Only rounded on the left side */
    font-size: 16px;
}

#searchButton {
    padding: 0 15px;
    border: 2px solid #ccc;
    border-left: none; /* Removes left border to merge with input */
    background: #ccc;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0 4px 4px 0; /* Only rounded on the right side */
}

#searchButton:hover {
    background-color: #bbb; /* Slightly darker on hover */
}

#searchInput:focus {
    border-color: #66afe9;
    outline: none;
}

#searchInput::placeholder {
    color: #999;
}
