/* Default styles for all screens */
.video-gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto; /* Center the gallery */
}

.video {
  flex: 1 0 calc(50% - 10px); /* Two items per row for small screens with 10px gap */
  box-sizing: border-box;
  margin: 0 5px 10px 5px; /* Adjusted margin for gap */
  padding: 0;
}

.video a {
  display: block;
}

.video img {
  width: 100%;
  height: auto;
}

/* Styles for small screens (2 items per row) */
@media screen and (min-width: 768px) {
  .video {
    flex: 1 0 25%; /* Four items per row for big screens */
  }
}


.terra2 {
  width: 100%;  /* Ensures the div takes full width of its parent container */
}

.chapter-image {
  display: block;  /* Changes display from default inline to block */
  width: 100%;  /* Makes the image take the full width of .terra2 */
  height: auto;  /* Keeps the image ratio intact */
  margin: auto;  /* Centers the image horizontally */
}

.terra3 {
  margin: auto;
  width: 20%;  /* Ensures the div takes full width of its parent container */
}

.chapted-image {
  display: block;  /* Changes display from default inline to block */
  width: 100%;  /* Makes the image take the full width of .terra2 */
  height: auto;  /* Keeps the image ratio intact */
  margin: auto;  /* Centers the image horizontally */
}


.item {
  position: relative;
  display: inline-block;
}


h2 {
    font-size: 24px;
    margin-bottom: 5px;
}




body {
    color: white; /* Black text */
    background: radial-gradient(circle, #000000, #000000); /* White background */
    margin: 0;
    padding: 0;
}

.content {
    width: 85%;
    margin: 20px auto 0;
    flex: 1;
}
